<mat-toolbar color="primary">
    <span>AppUsers</span>
    <span class="example-spacer"></span>
    <button mat-button routerLink="/dashboard">Dashboard</button>
    <button mat-button routerLink="/dashboard/usuarios">Usuarios</button>
    <button mat-button routerLink="/dashboard/reportes">Reportes</button>
    <span class="example-spacer"></span>
    <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
    <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>